name: Linters
on:
  push:
    branches:
      - 'master'
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pylint
        pip install mypy
        pip install wemake-python-styleguide
        pip install black
        pip install types-all
    - name: Analysing the code with pylint
      id: pylint
      continue-on-error: true
      run: PYTHONPATH=. pylint $(find . -name '*.py')
    - name: Analysing the code with mypy
      id: mypy
      continue-on-error: true
      run: |
        mkdir -p .mypy_cache
        PYTHONPATH=. mypy $(find . -name '*.py') --install-types --non-interactive --ignore-missing-imports --exclude __main__.py
    - name: Check code with flake8
      id: flake8
      continue-on-error: true
      run: PYTHONPATH=. flake8 $(find . -name '*.py')
    - name: Check code with Black
      id: black
      continue-on-error: true
      run: PYTHONPATH=. black --diff --check --color $(find . -name '*.py')
    - name: Check runner state
      run: |
        if [[ "${{ steps.pylint.outcome }}" == "failure" || "${{ steps.black.outcome }}" == "failure" || "${{ steps.mypy.outcome }}" == "failure" ]]; then
          echo "Linters failed, refer to related sections for info"
          exit 1
        fi
